<app-landing-header (getLanguage)="getLanguage()"></app-landing-header>
<div class="male-section-7 wrapper stretch">
    <div class="section content stretch">
        <div class="top-ribbon" id="desktop">
            <h2 class="uppercase" cms-translate>
                <div [innerHTML]="Title"></div>
                <!-- here's why <b>lunona</b> really works... -->
            </h2>
        </div>
    </div>

    <div id="my-video">
        <video class="video-js" loop muted controls="true" autoplay preload="auto"
            poster="assets/img-2/male/poster-image-man.jpg" data-setup="{}">
            <source src="assets/img-2/section7.webm" type="video/webm">
            <source src="assets/img-2/section7.mpeg" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
<app-landing-footer #landingMaleFooter></app-landing-footer>