<div class="static-footer">
    <div id="desktop" class="flex_footer">
        <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement">
            <li>
                <a itemscope="url" title="about" content="about" href="about.html">About us</a>
            </li>
            <li>
                <a href="contact.html">Contact/Support</a>
            </li>
            <li>
                <a itemscope="url" title="ReportAbuse" content="ReportAbuse" href="report-abuse.html">Report
                    Abuse</a>
            </li>
            <li>
                <a href="resellers.html">Affiliates & Resellers</a>
            </li>
            <li>
                <a href="pricing.html">Price List</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="faq.html">FAQ</a>
            </li>
            <li>
                <a href="online-safety.html">Online Safety</a>
            </li>
            <li>
                <a href="protect-kids.html">Kids Protection</a>
            </li>
            <li>
                <a href="escortrestricted.html">Escorts Restricted</a>
            </li>
            <li>
                <a href="2257.html">18 U.S.C. 2257 </a>
            </li>
        </ul>
        <div class="social-media-wrapper">
            <label>Follow us:</label>
            <span><a href="https://www.facebook.com/lunona.net/" target="_blank" class="icon-fb"></a> <a
                    href="https://plus.google.com/u/0/102153161259755998776" target="_blank" class="icon-googlep"></a>
                <a href="https://www.instagram.com/lunona_luna/" target="_blank" class="icon-instagram"></a> <a
                    href="https://twitter.com/Lunona_Chat" target="_blank" class="icon-twt"></a> <a
                    href="https://vk.com/lunonacom" target="_blank" class="icon-vk"></a></span>
        </div>
        <div class="stickers-wrapper">
            <div>
                <img src="assets/sharedImg/footer-info/trust.png" />
                Trusted Security Award
            </div>
            <div>
                <img src="assets/sharedImg/footer-info/ssl.png" />
                SSL Secure Site
            </div>
            <a href="http://www.asacp.org/" target="_blank">
                <img class="asacp" src="assets/sharedImg/footer-info/asacp.png" />
            </a>
            <a href="https://www.consumer.ftc.gov/articles/0004-online-dating-scams" target="_blank">
                <img src="assets/sharedImg/footer-info/on-guard.png" />
            </a>
        </div>
        <div style="margin: 0 auto;  color: white;position: absolute;z-index: 500;max-width: 1024px;bottom: 42px;height: auto;width: 80%;text-align: center;left: 0;right: 0;">
        </div>
        <div class="bottom-line">
            <ul>
                <li>
                    <a href="cookie-policy.html">Cookies Policy</a>
                </li>
                <li>
                    <a href="privacy-policy.html">Privacy Policy</a>
                </li>
                <li>
                    <a href="refund-policy.html">Refund Policy</a>
                </li>
                <li>
                    <a href="tos.html">Terms of Service </a>
                </li>
                <li>
                    <a href="community-terms.html">Community Terms</a>
                </li>
            </ul>
            <p>
                <span>
                    <span ng-bind="$ctrl.DateNow | date :'yyyy'"></span>
                    All rights reserved.
                    <a href="/us/">
                        <img src="assets/images/logo_footer.png" />
                    </a>
                </span>
            </p>
        </div>
    </div>
</div>
<!-- <div id="mobile">
	<ul class="list-group" style="width: 100%;">
		<li class="list-group-item static-page-footer">
			<a itemscope="url" title="about" content="about" href="about.html">About us</a>
		</li>
		<li class="list-group-item static-page-footer">
			<a href="faq.html">FAQ</a>
		</li>
		<li class="list-group-item static-page-footer">
			<a href="contact.html">Contact/Support</a>
		</li>
		<li class="list-group-item static-page-footer">
			<a itemscope="url" title="ReportAbuse" content="ReportAbuse" href="report-abuse.html">Report
				Abuse</a>
		</li>
		<li class="list-group-item static-page-footer">
			<a href="resellers.html">Affiliates & Resellers</a>
		</li>
		<li class="list-group-item static-page-footer">
			<a href="online-safety.html">Online Safety</a>
		</li>
		<li class="list-group-item static-page-footer">
			<a href="pricing.html">Price List</a>
		</li>
		<li class="list-group-item static-page-footer">
			<a href="protect-kids.html">Kids Protection</a>
		</li>
		<li class="list-group-item static-page-footer">
			<a href="escortrestricted.html">Escorts Restricted</a>
		</li>
		<li class="list-group-item static-page-footer">
			<a href="cookie-policy.html">Cookies Policy</a>
		</li>
		<li class="list-group-item static-page-footer">
			<a href="privacy-policy.html">Privacy Policy</a>
		</li>
		<li class="list-group-item static-page-footer">
			<a href="refund-policy.html">Refund Policy</a>
		</li>
		<li class="list-group-item static-page-footer">
			<a href="tos.html">Terms of Service </a>
		</li>
		<li class="list-group-item static-page-footer border-0" style="height: 80px;  overflow: hidden;">
			<p>Follow us:</p>
			<br>
			<span>
				<a href="https://www.facebook.com/lunona.net/" target="_blank">
					<img src="assets/sharedImg/footer-info/facebook.png" height="86px" width="auto">
				</a>
				<a href="https://plus.google.com/u/0/102153161259755998776" ttarget="_blank">
					<img src="assets/sharedImg/footer-info/google-plus.png" height="86px" width="auto">
				</a>
				<a href="https://www.instagram.com/lunona_luna/" target="_blank" target="_blank">
					<img src="assets/sharedImg/footer-info/instagram.png" height="86px" width="auto">
				</a>
				<a href="https://twitter.com/Lunona_Chat" target="_blank" target="_blank">
					<img src="assets/sharedImg/footer-info/twitter.png" height="86px" width="auto">
				</a>
				<a href="https://vk.com/lunonacom" target="_blank" target="_blank">
					<img src="assets/sharedImg/footer-info/vk.png" height="86px" width="auto">
                </a>
            </span>
		</li>
	</ul>
</div> -->