<div class="view-container animation">
    <div class="slide view-frame">
        <div class="Bank" id="BankController">
            <div>
                <div id="AutoMessages">
                    <div class="HeadArea">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 55">
                            <defs>
                                <linearGradient id="linearGradient-1" x1="0%" y1="50%" y2="50%">
                                    <stop offset="0%" stop-color="#AC5FCF"></stop>
                                    <stop offset="100%" stop-color="#4B2FB7"></stop>
                                </linearGradient>
                            </defs>
                            <g id="Page-1" fill="none" fill-rule="evenodd">
                                <path scope-element="HeadPathBack" opacity="0.5" id="Path" fill="#693EBE"
                                    d="M 0 0 h 600 V 15 C 411.5 35 197.03 0 0 15 Z"></path>
                                <path scope-element="HeadPath" id="Path" fill="url(#linearGradient-1)"
                                    d="M 0 0 h 600 V 55 C 411.5 0.6700000000000017 197.03 75.65 0 55 Z"></path>
                            </g>
                        </svg>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 20.8277px; height: 20.8277px; margin-left: -10.4139px; margin-top: -10.4139px; opacity: 0.317962; left: 67.4417%; top: 100%; transform: translate(0px, -28.5572px) rotate(0deg) scale(1, 1); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="9.4138554982888" ry="9.4138554982888" cx="10.4138554982888"
                                    cy="10.4138554982888" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 31.4524px; height: 31.4524px; margin-left: -15.7262px; margin-top: -15.7262px; opacity: 0.206418; left: 80.7491%; top: 100%; transform: translate(0px, -34.0939px) rotate(0deg) scale(1, 1); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="14.72620462133127" ry="14.72620462133127" cx="15.72620462133127"
                                    cy="15.72620462133127" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 41.0391px; height: 41.0391px; margin-left: -20.5195px; margin-top: -20.5195px; opacity: 0.296894; left: 22.9361%; top: 100%; transform: translate(0px, -54.761px) rotate(0deg) scale(1, 1); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="19.519525215194804" ry="19.519525215194804" cx="20.519525215194804"
                                    cy="20.519525215194804" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 15.9628px; height: 15.9628px; margin-left: -7.98142px; margin-top: -7.98142px; opacity: 0.408132; left: 4.92388%; top: 100%; transform: translate(0px, -74.9396px) rotate(0deg) scale(1, 1); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="6.981423293098652" ry="6.981423293098652" cx="7.981423293098652"
                                    cy="7.981423293098652" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 53.3053px; height: 53.3053px; margin-left: -26.6526px; margin-top: -26.6526px; opacity: 0.405117; left: 7.56744%; top: 100%; transform: translate(0px, -70.6215px) rotate(0deg) scale(1, 1); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="25.6526323068642" ry="25.6526323068642" cx="26.6526323068642"
                                    cy="26.6526323068642" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 15.9847px; height: 15.9847px; margin-left: -7.99233px; margin-top: -7.99233px; opacity: 0.225905; left: 39.6374%; top: 100%; transform: translate(0px, -57.247px) rotate(0deg) scale(1, 1); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="6.992326805694697" ry="6.992326805694697" cx="7.992326805694697"
                                    cy="7.992326805694697" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 64.9832px; height: 64.9832px; margin-left: -32.4916px; margin-top: -32.4916px; opacity: 0.302266; left: 74.5151%; top: 100%; transform: translate(0px, -33.7258px) rotate(0deg) scale(1, 1); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="31.491585403232364" ry="31.491585403232364" cx="32.491585403232364"
                                    cy="32.491585403232364" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 56.9136px; height: 56.9136px; margin-left: -28.4568px; margin-top: -28.4568px; opacity: 0.375623; left: 74.6717%; top: 100%; transform: translate(0px, -61.9919px) rotate(0deg) scale(1, 1); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="27.45678515976437" ry="27.45678515976437" cx="28.45678515976437"
                                    cy="28.45678515976437" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 16.9683px; height: 16.9683px; margin-left: -8.48413px; margin-top: -8.48413px; opacity: 0.245735; left: 96.0309%; top: 100%; transform: translate(0px, -17.9359px) rotate(0deg) scale(1, 1); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="7.484129732291946" ry="7.484129732291946" cx="8.484129732291946"
                                    cy="8.484129732291946" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 54.047px; height: 54.047px; margin-left: -27.0235px; margin-top: -27.0235px; opacity: 0.382139; left: 63.7443%; top: 100%; transform: translate(0px, -60.3185px) rotate(0deg) scale(1, 1); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="26.023498873857143" ry="26.023498873857143" cx="27.023498873857143"
                                    cy="27.023498873857143" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 22.1051px; height: 22.1051px; margin-left: -11.0525px; margin-top: -11.0525px; backface-visibility: hidden; opacity: 0.3; left: 48.3929%; top: 100%; transform: translate(5.84601px, -25.0208px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="10.05253726505411" ry="10.05253726505411" cx="11.05253726505411"
                                    cy="11.05253726505411" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 38.047px; height: 38.047px; margin-left: -19.0235px; margin-top: -19.0235px; backface-visibility: hidden; opacity: 0.3; left: 24.9358%; top: 100%; transform: translate(-9.40663px, -42.317px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="18.02349548157847" ry="18.02349548157847" cx="19.02349548157847"
                                    cy="19.02349548157847" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 24.4169px; height: 24.4169px; margin-left: -12.2085px; margin-top: -12.2085px; backface-visibility: hidden; opacity: 0.3; left: 7.46666%; top: 100%; transform: translate(-8.43391px, -17.917px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="11.208454226383536" ry="11.208454226383536" cx="12.208454226383536"
                                    cy="12.208454226383536" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 8.85036px; height: 8.85036px; margin-left: -4.42518px; margin-top: -4.42518px; backface-visibility: hidden; opacity: 0.3; left: 9.78822%; top: 100%; transform: translate(11.9103px, -68.889px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="3.4251787207266866" ry="3.4251787207266866" cx="4.425178720726686"
                                    cy="4.425178720726686" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 14.5954px; height: 14.5954px; margin-left: -7.29768px; margin-top: -7.29768px; backface-visibility: hidden; opacity: 0.3; left: 62.6185%; top: 100%; transform: translate(-21.4162px, -54.7015px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="6.29768233637308" ry="6.29768233637308" cx="7.29768233637308"
                                    cy="7.29768233637308" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 40.8075px; height: 40.8075px; margin-left: -20.4037px; margin-top: -20.4037px; backface-visibility: hidden; opacity: 0.3; left: 28.7384%; top: 100%; transform: translate(-7.49903px, -59.2978px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="19.403740992889507" ry="19.403740992889507" cx="20.403740992889507"
                                    cy="20.403740992889507" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 43.4657px; height: 43.4657px; margin-left: -21.7329px; margin-top: -21.7329px; backface-visibility: hidden; opacity: 0.3; left: 65.0561%; top: 100%; transform: translate(-13.4059px, -33.1928px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="20.732873058100694" ry="20.732873058100694" cx="21.732873058100694"
                                    cy="21.732873058100694" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 42.2783px; height: 42.2783px; margin-left: -21.1392px; margin-top: -21.1392px; backface-visibility: hidden; opacity: 0.3; left: 50.4768%; top: 100%; transform: translate(-15.1813px, -41.6027px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="20.13917191973914" ry="20.13917191973914" cx="21.13917191973914"
                                    cy="21.13917191973914" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 38.9909px; height: 38.9909px; margin-left: -19.4955px; margin-top: -19.4955px; backface-visibility: hidden; opacity: 0.3; left: 21.2194%; top: 100%; transform: translate(-11.0679px, -43.6459px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="18.49545948754598" ry="18.49545948754598" cx="19.49545948754598"
                                    cy="19.49545948754598" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 39.5109px; height: 39.5109px; margin-left: -19.7555px; margin-top: -19.7555px; backface-visibility: hidden; opacity: 0.3; left: 90.6552%; top: 100%; transform: translate(-4.62649px, -11.5187px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="18.755472142462075" ry="18.755472142462075" cx="19.755472142462075"
                                    cy="19.755472142462075" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 27.1768px; height: 27.1768px; margin-left: -13.5884px; margin-top: -13.5884px; backface-visibility: hidden; opacity: 0.3; left: 64.9285%; top: 100%; transform: translate(15.6637px, -76.5357px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="12.58841727099183" ry="12.58841727099183" cx="13.58841727099183"
                                    cy="13.58841727099183" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg></div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 30.9363px; height: 30.9363px; margin-left: -15.4682px; margin-top: -15.4682px; backface-visibility: hidden; opacity: 0.3; left: 82.1882%; top: 100%; transform: translate(16.9373px, -58.4788px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="14.46815719299066" ry="14.46815719299066" cx="15.46815719299066"
                                    cy="15.46815719299066" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 20.5158px; height: 20.5158px; margin-left: -10.2579px; margin-top: -10.2579px; backface-visibility: hidden; opacity: 0.3; left: 60.0823%; top: 100%; transform: translate(-14.8325px, -68.3387px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="9.257897483112075" ry="9.257897483112075" cx="10.257897483112075"
                                    cy="10.257897483112075" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 22.1505px; height: 22.1505px; margin-left: -11.0753px; margin-top: -11.0753px; backface-visibility: hidden; opacity: 0.3; left: 83.3576%; top: 100%; transform: translate(4.1834px, -61.7437px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="10.075269013087844" ry="10.075269013087844" cx="11.075269013087844"
                                    cy="11.075269013087844" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg></div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 23.8508px; height: 23.8508px; margin-left: -11.9254px; margin-top: -11.9254px; backface-visibility: hidden; opacity: 0.3; left: 2.53321%; top: 100%; transform: translate(-2.61225px, -12.2041px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="10.925377251353986" ry="10.925377251353986" cx="11.925377251353986"
                                    cy="11.925377251353986" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 19.3301px; height: 19.3301px; margin-left: -9.66507px; margin-top: -9.66507px; backface-visibility: hidden; opacity: 0.3; left: 57.0988%; top: 100%; transform: translate(-13.1159px, -48.638px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="8.665068984727963" ry="8.665068984727963" cx="9.665068984727963"
                                    cy="9.665068984727963" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 45.4505px; height: 45.4505px; margin-left: -22.7252px; margin-top: -22.7252px; backface-visibility: hidden; opacity: 0.3; left: 5.57227%; top: 100%; transform: translate(-9.44621px, -25.746px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="21.725244879136703" ry="21.725244879136703" cx="22.725244879136703"
                                    cy="22.725244879136703" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 34.9602px; height: 34.9602px; margin-left: -17.4801px; margin-top: -17.4801px; backface-visibility: hidden; opacity: 0.3; left: 0.122325%; top: 100%; transform: translate(-21.943px, -54.526px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="16.480122003722464" ry="16.480122003722464" cx="17.480122003722464"
                                    cy="17.480122003722464" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg></div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 22.5586px; height: 22.5586px; margin-left: -11.2793px; margin-top: -11.2793px; backface-visibility: hidden; opacity: 0.3; left: 43.1754%; top: 100%; transform: translate(-10.6382px, -33.7732px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="10.2793037261867" ry="10.2793037261867" cx="11.2793037261867"
                                    cy="11.2793037261867" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                        <div data-name="mojs-shape" class="headball"
                            style="position: absolute; width: 33.4593px; height: 33.4593px; margin-left: -16.7297px; margin-top: -16.7297px; backface-visibility: hidden; opacity: 0.3; left: 96.6201%; top: 100%; transform: translate(-7.67347px, -27.1104px) rotate(0deg) scale(0, 0); transform-origin: 50% 50%;">
                            <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
                                <ellipse rx="15.729659944011319" ry="15.729659944011319" cx="16.729659944011317"
                                    cy="16.729659944011317" fill-opacity="1" stroke-linecap="" stroke-dashoffset=""
                                    fill="#58277B" stroke-dasharray="" stroke-opacity="1" stroke-width="2"
                                    stroke="transparent"></ellipse>
                            </svg>
                        </div>
                    </div>
                    <div class="topLevelGrid HeadOverflow">
                        <div class="pageTop appearAnim" style="opacity: 1; transform: none;">
                            <div class="desktop_resp">
                                <div class="img topimg onBottom">
                                    <img src="assets/img-2/bank/top_bg_1.png"
                                        style="opacity: 1; transform: translateY(0px, 0px) rotate(0deg) skew(0deg, 0deg) scale(1, 1);">
                                </div>
                                <div class="img topimg onTop">
                                    <img src="assets/img-2/bank/top_bg_2.png"
                                        style="opacity: 1; transform: translateY(0px, 0px) rotate(0deg) skew(0deg, 0deg) scale(1, 1);">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pageView_Container" class="ContentArea topLevelGrid">
                        <div class="Intro PageView">
                            <div class="fixTopPosition"></div>
                            <div class="introContent innerContentArea">
                                <div class="page_title appearAnim" style="opacity: 1; transform: none;">
                                    <div style="vertical-align: inherit;">
                                        <div style="vertical-align: inherit;">Auto Messages</div>
                                    </div>
                                </div>
                                <div *ngIf="isAutoMessage" class="content">
                                    <p class="text--align-center appearAnim appearAnimList"
                                        style="opacity: 1; transform: none;">
                                        <span style="vertical-align: inherit;">
                                            Send Auto Messages massively or set a "Send-Auto-Message" command for New
                                            Members
                                        </span>
                                    </p>
                                    <div class="msgList">
                                        <div class="top appearAnim appearAnimList" style="opacity: 1; transform: none;">
                                            <div class="listTitle text--weight-bold">
                                                <div style="vertical-align: inherit;">Your Rules</div>
                                            </div>
                                            <div class="action btn pointer text--weight-medium" [routerLink]="['/member/bank/auto-msg/make-new']">
                                                <span style="vertical-align: inherit;"> Create new </span>
                                            </div>
                                        </div>
                                        <div class="appearAnim appearAnimList" style="opacity: 1; transform: none;">
                                            <table>
                                                <tbody>
                                                    <tr class="th">
                                                        <th>
                                                            <div style="vertical-align: inherit;">ID</div>
                                                        </th>
                                                        <th>
                                                            <div style="vertical-align: inherit;">Type of rule</div>
                                                        </th>
                                                        <th>
                                                            <div style="vertical-align: inherit;">Rule</div>
                                                        </th>
                                                        <th>
                                                            <div style="vertical-align: inherit;">Execute</div>
                                                        </th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    <tr class="msg_line" *ngFor="let myAutoMessage of myAutoMessages; let i=index">
                                                        <td class="id">
                                                            <div style="vertical-align: inherit;">1</div>
                                                        </td>
                                                        <td class="type">
                                                            <div class="text">
                                                                <div style="vertical-align: inherit;"></div>
                                                                <div style="vertical-align: inherit;"></div>
                                                            </div>
                                                            <div class="text_msg">
                                                                <span style="vertical-align: inherit;">
                                                                   {{myAutoMessage.RuleTypeText}}
                                                                </span>
                                                                <div style="vertical-align: inherit;">Message: {{myAutoMessage.BodyHTML}}</div>
                                                            </div>
                                                        </td>
                                                        <td class="rule">
                                                            <div style="vertical-align: inherit;">{{myAutoMessage.CountryISO}}</div>
                                                        </td>
                                                        <td>
                                                            <div style="vertical-align: inherit;">{{myAutoMessage.ExecutionTypeText}}</div>
                                                        </td>
                                                        <td class="execute pointer" [class.active]="myAutoMessage.isExcute">
                                                            <div class="excuteDialog" [class.opened]="myAutoMessage.isOpenExcute">
                                                                <div class="canvas">
                                                                    <div class="info" *ngIf="executeMessagePreviewData">
                                                                        Your total messages are {{executeMessagePreviewData.ProfilesCounter}} and the cost of the sended messages is {{executeMessagePreviewData.TotalCost}} Luns
                                                                    </div>
                                                                    <div class="cancel btn" (click)="cancelExecute(i)">Cancel</div>
                                                                </div>
                                                                <div class="sendit clearfix btn" (click)="openExcute(i)">
                                                                    <div class="sendanim">
                                                                        <svg class="saita" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" style="opacity: 1; transform: scale(1) translateX(60.873px) translateY(113.297px) rotate(-36.0989deg);">
                                                                            <g id="Page-1" fill="none" fill-rule="evenodd">
                                                                                <g id="send" fill="#5735BA" fill-rule="nonzero" transform="rotate(36 8.54 4.02)">
                                                                                    <path id="Path_3975" d="M18.05.05L1.75 4.97a1.06 1.06 0 0 0-.02 2.02l4.12 1.38c.32.1.67.07.96-.1l9.73-5.95a.13.13 0 1 1 .15.23L8.52 9.18a.85.85 0 0 0-.18 1.13l3.73 5.85a1.26 1.26 0 0 0 2.25-.24l5.3-14.2A1.3 1.3 0 0 0 18.06.05z"></path>
                                                                                    <path id="Path_3976" d="M6.5 10.13a.26.26 0 0 0-.47.14v4.02a1 1 0 0 0 1.75.68l.89-.96a.6.6 0 0 0 .04-.75L6.5 10.13z"></path>
                                                                                </g>
                                                                            </g>
                                                                        </svg>
                                                                    </div>
                                                                    <div class="text text--weight-medium">
                                                                        <div>Execute</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="edit pointer" (click)="editMyAutoMessage(myAutoMessage)">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 15.08 15.01">
                                                                <path id="edit" fill="#4a4a4a"
                                                                    d="M15.9 1.88a1.79 1.79 0 0 1 .11.36 2.1 2.1 0 0 1 .04.43 1.23 1.23 0 0 1-.08.44 1.36 1.36 0 0 1-.28.43l-.37.36-.28.28-.25.24-3.21-3.21.49-.46.47-.42a1.5 1.5 0 0 1 .5-.26 1.56 1.56 0 0 1 .5-.07 1.92 1.92 0 0 1 .48.08 2.48 2.48 0 0 1 .4.15 3.15 3.15 0 0 1 .8.66 3.85 3.85 0 0 1 .68.99zM2.54 10.25l.48-.49.94-.95 1.25-1.25 1.39-1.4 3.69-3.68L13.5 5.7 9.81 9.4l-1.37 1.38q-.69.67-1.24 1.23t-.9.91l-.43.42-.4.32a2.15 2.15 0 0 1-.46.28 7.49 7.49 0 0 1-.7.29q-.46.17-.97.33t-.96.28q-.45.12-.68.16-.46.05-.61-.14a.81.81 0 0 1-.09-.63 5.79 5.79 0 0 1 .16-.7l.28-.94.28-.9a3.81 3.81 0 0 1 .22-.57 2.86 2.86 0 0 1 .24-.43 2.83 2.83 0 0 1 .36-.44z"
                                                                    transform="translate(-.97)"></path>
                                                            </svg>
                                                        </td>
                                                        <td class="delete">
                                                            <div class="pointer" (click)="openDelete(i)" *ngIf="!myAutoMessage.isDelete">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 12.48 17">
                                                                    <path id="delete" fill="#4a4a4a"
                                                                        d="M22.08 25.85A2.15 2.15 0 0 0 24.23 28h6.02a2.15 2.15 0 0 0 2.16-2.15V15.52H22.08zm11.4-12.27a1.08 1.08 0 0 0-1.08-1.07h-2.58v-.44A1.07 1.07 0 0 0 28.75 11h-3.02a1.07 1.07 0 0 0-1.07 1.07v.44h-2.58A1.08 1.08 0 0 0 21 13.58v1.08h12.48z"
                                                                        transform="translate(-21 -11)"></path>
                                                                </svg>
                                                            </div>
                                                            <div class="deletePopup text--weight-medium" *ngIf="myAutoMessage.isDelete">
                                                                <div class="no pointer" (click)="noDelete(i)">NO</div>
                                                                <div class="yes pointer" (click)="deleteAutoMessage(myAutoMessage)">YES</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!isAutoMessage" class="content text--align-center appearAnim"
                                    style="opacity: 1; transform: none;">
                                    <p style="vertical-align: inherit; margin-top: 1rem;">
                                        Auto Messages is a new feature to approach women fast without wasting time.
                                    </p>
                                    <div class="columns clearfix">
                                        <p class="anim" style="vertical-align: inherit; margin-top: 1rem;">
                                            It works in 2 different ways.
                                        </p>
                                        <div class="column text--align-left anim">
                                            <div class="left">
                                                <img src="assets/img-2/bank/intro_info_left.png">
                                            </div>
                                            <div class="right text--weight-medium">
                                                <div style="vertical-align: inherit;">
                                                    You create the rule and the system sends to the women found one
                                                    message, only once, at this moment (
                                                </div>
                                                <strong style="vertical-align: inherit;">
                                                    Manually
                                                </strong>)
                                            </div>
                                        </div>
                                        <div class="column text--align-left anim">
                                            <div class="left">
                                                <img src="assets/img-2/bank/intro_info_right.png">
                                            </div>
                                            <div class="right text--weight-medium">
                                                <div style="vertical-align: inherit;">
                                                    You create the rule and automatically a message is sent once a woman
                                                    is fully registered - with foto (
                                                </div>
                                                <strong style="vertical-align: inherit;">Automatically</strong>)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="examples text--align-left anim">
                                        <div style="margin-top: 0;">
                                            <div style="vertical-align: inherit;">Examples:</div>
                                        </div>
                                        <ul>
                                            <li>
                                                <div style="vertical-align: inherit;">
                                                    You want to approach all the girls between 19 and 28 and only from
                                                    the country Ukraine or Moldova
                                                </div>
                                            </li>
                                            <li>
                                                <div style="vertical-align: inherit;">
                                                    You want to approach all the girls from Greece, live in Athens or
                                                    some other city / town
                                                </div>
                                            </li>
                                            <li>
                                                <div style="vertical-align: inherit;">
                                                    You want to send a message to all the girls who are up to 50 km.
                                                    around you
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div *ngIf="!isAutoMessage" class="actionArea">
                                    <div class="action btn pointer appearAnim text--weight-medium"
                                        style="opacity: 0.991393; transform: translateY(0.173949px) translateZ(0px);"
                                        [routerLink]="['/member/bank/auto-msg/make-new']">
                                        <div style="vertical-align: inherit; color: white;">
                                            Add your first message
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="readyMessagesPopUp"></div>
                </div>
            </div>
        </div>
    </div>
</div>