<div class="DelContactTopMenuPopup">
    <div class="delete-dialog-header">
        <div class="md-toolbar-tools">
            <div class="top close" [mat-dialog-close]="''"><span></span></div>
        </div>
    </div>
    <div class="basic_wrapper">
        <div class="confirmationPopUp" *ngIf="isConfirm">
            <div class="top_elements_inner">
                <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 489 163" class="bg">
                    <path fill="#ecd8b9" d="M0 162.68c35.22-10 270.32-71.81 489-7.31V0H0z"></path>
                    <rect width="489" height="366" fill="none" rx="6"></rect>
                    <circle cx="124.5" cy="95.5" r="6.5" data-name="Ellipse 228" style="isolation:isolate"
                        opacity=".063"></circle>
                    <circle cx="403.5" cy="95.5" r="6.5" data-name="Ellipse 231" style="isolation:isolate"
                        opacity=".075"></circle>
                    <circle cx="54.5" cy="66.5" r="6.5" data-name="Ellipse 229" style="isolation:isolate"
                        opacity=".063"></circle>
                    <circle cx="126" cy="35" r="5" data-name="Ellipse 230" style="isolation:isolate" opacity=".063">
                    </circle>
                    <circle cx="432" cy="62" r="5" data-name="Ellipse 232" style="isolation:isolate" opacity=".033">
                    </circle>
                    <circle cx="333" cy="97" r="5" data-name="Ellipse 234" style="isolation:isolate" opacity=".033">
                    </circle>
                    <path
                        d="M388.5 25a1.5 1.5 0 0 1 1.5 1.5v19a1.5 1.5 0 0 1-1.5 1.5 1.5 1.5 0 0 1-1.5-1.5v-19a1.5 1.5 0 0 1 1.5-1.5z"
                        data-name="Rectangle 1964" style="isolation:isolate" opacity=".071"></path>
                    <path
                        d="M458.5 96a1.5 1.5 0 0 1 1.5 1.5v19a1.5 1.5 0 0 1-1.5 1.5 1.5 1.5 0 0 1-1.5-1.5v-19a1.5 1.5 0 0 1 1.5-1.5z"
                        data-name="Rectangle 1967" style="isolation:isolate" opacity=".071"></path>
                    <path
                        d="M162.5 41a1.5 1.5 0 0 1 1.5 1.5v17a1.5 1.5 0 0 1-1.5 1.5 1.5 1.5 0 0 1-1.5-1.5v-17a1.5 1.5 0 0 1 1.5-1.5z"
                        data-name="Rectangle 1965" style="isolation:isolate" opacity=".071"></path>
                    <path
                        d="M56.5 96a1.5 1.5 0 0 1 1.5 1.5v17a1.5 1.5 0 0 1-1.5 1.5 1.5 1.5 0 0 1-1.5-1.5v-17a1.5 1.5 0 0 1 1.5-1.5z"
                        data-name="Rectangle 1966" style="isolation:isolate" opacity=".071"></path>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="108" height="117.188" viewBox="0 0 108 117.188"
                    class="can">
                    <defs>
                        <linearGradient id="a" x1=".5" x2=".548" y1=".236" y2="1" gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#ff9d19"></stop>
                            <stop offset="1" stop-color="#fac100"></stop>
                        </linearGradient>
                    </defs>
                    <g transform="translate(-342 -331.813)">
                        <ellipse cx="54" cy="20" fill="#f7f7f7" rx="54" ry="20" transform="translate(342 409)">
                        </ellipse>
                        <path fill="url(#a)"
                            d="M140.735 170.368c0 8.881-14.945 16.055-33.476 16.055-18.446 0-33.476-7.173-33.476-16.055l-6.662-71.906H147.4z"
                            transform="translate(288.777 254.701)"></path>
                        <path
                            d="M355.898 353.163l1.025 11.016c6.4 7.6 21.52 12.9 39.113 12.9s32.708-5.295 39.113-12.9l1.028-11.016zm40.138 35.355a2.752 2.752 0 0 0-2.733 2.733v36.465a2.733 2.733 0 0 0 5.465 0v-36.551a2.736 2.736 0 0 0-2.732-2.647zm13.493-1.366a2.752 2.752 0 0 0-2.733 2.733l-1.366 36.38a2.733 2.733 0 0 0 5.466 0l1.281-36.38a2.68 2.68 0 0 0-2.648-2.733zm12.127-2.733a2.752 2.752 0 0 0-2.733 2.733l-2.733 35.782a2.733 2.733 0 0 0 5.466 0l2.733-35.782a2.81 2.81 0 0 0-2.734-2.733zm-39.113 2.733a2.752 2.752 0 0 0-2.733 2.733l1.367 36.465a2.752 2.752 0 0 0 2.733 2.733 2.7 2.7 0 0 0 2.733-2.733l-1.366-36.466a2.752 2.752 0 0 0-2.735-2.732zm-12.127-2.733a2.752 2.752 0 0 0-2.733 2.733l2.733 35.782a2.752 2.752 0 0 0 2.733 2.733 2.7 2.7 0 0 0 2.733-2.733l-2.733-35.782a2.872 2.872 0 0 0-2.733-2.733z"
                            class="c"></path>
                        <path fill="#ffc05c"
                            d="M434.294 347.438a8.845 8.845 0 0 1 2.647 7.344c0 11.358-18.361 20.581-40.991 20.581s-40.906-9.22-40.906-20.578a9.306 9.306 0 0 1 2.562-7.347c2.391-2.645 74.383-2.645 76.688 0z">
                        </path>
                        <path
                            d="M396.036 331.813c22.2 0 40.138 8.8 40.138 19.642s-17.934 19.642-40.138 19.642-40.138-8.8-40.138-19.642 17.934-19.642 40.138-19.642z"
                            class="c"></path>
                        <path
                            d="M372.976 361.532l-3.928 4.441a69.768 69.768 0 0 0 26.986 5.039c10.419 0 19.812-1.879 26.986-5.039l-3.928-4.441a66.124 66.124 0 0 1-23.058 4.014 65.409 65.409 0 0 1-23.058-4.014z"
                            class="e"></path>
                        <path fill="#a57c13"
                            d="M396.036 338.645c18.019 0 33.476 5.38 40.138 12.981v-.171c.003-10.842-17.935-19.642-40.138-19.642s-40.138 8.8-40.138 19.642v.171c6.661-7.601 22.118-12.981 40.138-12.981z">
                        </path>
                        <path fill="#ccd0d2"
                            d="M396.035 371.096c10.419 0 19.9-1.964 26.986-5.124l-12.127-13.92-16.653 19.044z"></path>
                        <path fill="#dcdedf"
                            d="M375.796 368.278l.256.256a76.073 76.073 0 0 0 19.983 2.562 76.673 76.673 0 0 0 16.4-1.708l1.11-1.11-18.876-21.606z">
                        </path>
                        <path fill="#e4e7e7"
                            d="M396.036 371.096h1.793l-16.653-19.044-12.127 13.92c7.089 3.245 16.568 5.124 26.987 5.124z">
                        </path>
                        <path fill="#b7bbbd"
                            d="M394.328 370.926h1.623c10.333 0 19.812-1.879 26.986-5.039l-3.843-4.355a63.84 63.84 0 0 1-19.983 4.014z">
                        </path>
                        <path fill="#c6c7c8"
                            d="M409.956 364.179a66.278 66.278 0 0 1-13.92 1.452 64.8 64.8 0 0 1-16.14-1.964l-4.014 4.612.085.085a76.926 76.926 0 0 0 20.154 2.562 77.717 77.717 0 0 0 16.567-1.708l1.025-1.025z">
                        </path>
                        <path
                            d="M397.659 370.926l-4.782-5.466a63.834 63.834 0 0 1-19.983-4.014l-3.843 4.526a69.768 69.768 0 0 0 26.986 5.039 10.332 10.332 0 0 1 1.622-.085z"
                            class="e"></path>
                    </g>
                </svg>
                <div class="img user_image cover" [ngStyle]="{'background-image': 'url(' + serverUrl + data.ProfilePhotoBase + ')'}"></div>
            </div>
            <div class="text_content_inner roboto">
                <div class="action_title">Delete Contact</div>
                <div class="comment">Are you sure you want to delete this contact?</div>
            </div>
            <div class="actions_content_inner">
                <div class="btn no grey pointer" (click)="cancelDelete()">NO</div>
                <div class="btn yes purple pointer" (click)="deleteContact()">YES</div>
            </div>
        </div>
        <div class="top_elements">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 606 164.11" class="svg_bg">
                <defs>
                    <linearGradient id="delcon-a" x1="109.41" y1="254.03" x2="487.42" y2="-123.98"
                        gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#fedfb1"></stop>
                        <stop offset="1" stop-color="#bc2153"></stop>
                    </linearGradient>
                    <filter id="shadow-f1" x="0" y="0" width="200%" height="200%">
                        <feOffset result="offOut" in="SourceGraphic" dx="0" dy="2"></feOffset>
                        <feColorMatrix result="matrixOut" in="offOut" type="matrix"
                            values="0.2 0 0 0 0 0 0.2 0 0 0 0 0 0.2 0 0 0 0 0 0.8 0"></feColorMatrix>
                        <feGaussianBlur result="blurOut" in="matrixOut" stdDeviation="10"></feGaussianBlur>
                        <feBlend in="SourceGraphic" in2="blurOut" mode="normal"></feBlend>
                    </filter>
                </defs>
                <path data-name="Rectangle 1960"
                    d="M79.8 77.92l-12.25 1.5a2.52 2.52 0 0 1-2.82-2.2 2.53 2.53 0 0 1 2.2-2.81l12.25-1.51a2.53 2.53 0 0 1 2.81 2.2 2.53 2.53 0 0 1-2.19 2.82z"
                    style="isolation:isolate" opacity=".037"></path>
                <path data-name="Path 4298" d="M42.28 139.4s121.83 32 222.32 8.8-178.61-46.68-178.61-46.68z"
                    style="isolation:isolate" fill="#fab79f" opacity=".314"></path>
                <path data-name="Path 4299" d="M1.36 146.26s82.76 14.21 148.14-7-121.32-20.69-121.32-20.69z"
                    style="isolation:isolate" fill="#fab79f" opacity=".314"></path>
                <path
                    d="M606 0H0v151.53C25.52 140.17 71.45 130 149.58 141c141.95 20 279.36 46.46 444.33-15.55 4.28-1.61 8.3-3.14 12.1-4.6z"
                    transform="translate(-.01)" fill="url(#delcon-a)" filter="url(#shadow-f1)" class="base_bg_el">
                </path>
                <g data-name="Group 2733" opacity=".261">
                    <g data-name="Group 2732">
                        <rect data-name="Rectangle 1947" x="191.51" y="28.19" width="244.95" height="45.99" rx="2"
                            transform="matrix(1 -.09 .09 1 -3.27 27.52)" style="isolation:isolate" opacity=".084">
                        </rect>
                        <rect data-name="Rectangle 1948" x="198.92" y="41.8" width="32.99" height="36.99" rx="2"
                            transform="matrix(1 -.09 .09 1 -4.44 18.97)" style="isolation:isolate" opacity=".084">
                        </rect>
                        <rect data-name="Rectangle 1950" x="237.82" y="38.62" width="118.98" height="11" rx="2"
                            transform="matrix(1 -.09 .09 1 -2.72 26.04)" style="isolation:isolate" opacity=".084">
                        </rect>
                        <rect data-name="Rectangle 1951" x="239.31" y="56.77" width="44.99" height="12" rx="2"
                            transform="matrix(1 -.09 .09 1 -4.48 23.02)" style="isolation:isolate" opacity=".084">
                        </rect>
                    </g>
                    <g data-name="Group 2731">
                        <rect data-name="Rectangle 1955" x="196.2" y="81.98" width="244.95" height="45.99" rx="2"
                            transform="matrix(1 -.09 .09 1 -7.94 28.13)" style="isolation:isolate" opacity=".084">
                        </rect>
                        <rect data-name="Rectangle 1952" x="203.62" y="95.59" width="32.99" height="36.99" rx="2"
                            transform="matrix(1 -.09 .09 1 -9.1 19.59)" style="isolation:isolate" opacity=".084"></rect>
                        <rect data-name="Rectangle 1954" x="242.52" y="92.4" width="118.98" height="11" rx="2"
                            transform="matrix(1 -.09 .09 1 -7.38 26.65)" style="isolation:isolate" opacity=".084">
                        </rect>
                        <rect data-name="Rectangle 1953" x="244" y="110.56" width="44.99" height="12" rx="2"
                            transform="matrix(1 -.09 .09 1 -9.14 23.63)" style="isolation:isolate" opacity=".084">
                        </rect>
                    </g>
                </g>
                <path data-name="Rectangle 1956"
                    d="M87.11 83.41l21.88-2.68a4.51 4.51 0 0 1 5 3.92 4.5 4.5 0 0 1-3.92 5L88.2 92.34a4.49 4.49 0 0 1-5-3.92 4.49 4.49 0 0 1 3.91-5.01z"
                    style="isolation:isolate" opacity=".037"></path>
                <path data-name="Rectangle 1961"
                    d="M502.8 93.92l-12.25 1.5a2.52 2.52 0 0 1-2.82-2.2 2.53 2.53 0 0 1 2.2-2.81l12.25-1.51a2.53 2.53 0 0 1 2.81 2.2 2.53 2.53 0 0 1-2.19 2.82z"
                    style="isolation:isolate" opacity=".037"></path>
                <path data-name="Rectangle 1959"
                    d="M494.11 65.41l21.88-2.68a4.51 4.51 0 0 1 5 3.92 4.5 4.5 0 0 1-3.92 5l-21.84 2.68a4.49 4.49 0 0 1-5-3.92 4.49 4.49 0 0 1 3.88-5z"
                    style="isolation:isolate" opacity=".037"></path>
                <path data-name="Rectangle 1957"
                    d="M122.82 78.66a4.49 4.49 0 0 1 5 3.92 4.5 4.5 0 0 1-3.92 5 4.5 4.5 0 0 1-5-3.92 4.49 4.49 0 0 1 3.92-5z"
                    style="isolation:isolate" opacity=".037"></path>
                <path data-name="Rectangle 1958"
                    d="M529.82 60.66a4.49 4.49 0 0 1 5 3.92 4.5 4.5 0 0 1-3.92 5 4.5 4.5 0 0 1-5-3.92 4.49 4.49 0 0 1 3.92-5z"
                    style="isolation:isolate" opacity=".037"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="61.822" height="61.822" class="svg_no_way">
                <g fill="#e6243a" fill-rule="evenodd">
                    <path
                        d="M30.91 57.822c-3.617 0-7.135-.716-10.456-2.129a26.958 26.958 0 0 1-8.549-5.777 26.958 26.958 0 0 1-5.777-8.548A26.577 26.577 0 0 1 4 30.91c0-3.618.716-7.136 2.128-10.457a26.958 26.958 0 0 1 5.777-8.548 26.958 26.958 0 0 1 8.55-5.778A26.577 26.577 0 0 1 30.91 4c3.617 0 7.135.716 10.456 2.128a26.958 26.958 0 0 1 8.55 5.778 26.958 26.958 0 0 1 5.776 8.548 26.577 26.577 0 0 1 2.129 10.457c0 3.617-.716 7.135-2.129 10.457a26.958 26.958 0 0 1-5.777 8.548 26.958 26.958 0 0 1-8.549 5.777 26.577 26.577 0 0 1-10.456 2.129zM20.257 31.245h21.31v-.669h-21.31v.67z">
                    </path>
                    <path
                        d="M30.91 8C18.32 8 8 18.32 8 30.91c0 12.591 10.32 22.912 22.91 22.912 12.591 0 22.912-10.32 22.912-22.911C53.822 18.32 43.502 8 30.91 8m14.654 27.245H16.256v-8.669h29.31v8.67M30.91 0c17.044 0 30.91 13.867 30.91 30.91 0 17.045-13.866 30.912-30.91 30.912S0 47.955 0 30.91 13.867 0 30.91 0z"
                        fill="#fff"></path>
                </g>
            </svg>
            <div class="img others"  [ngStyle]="{'background-image': 'url(' + serverUrl + data.ProfilePhotoBase + ')'}"></div>
        </div>
        <div class="text_content">
            <h1 class="action_title">Delete Contact</h1>
            <h1 class="name_title">{{data.LoginName}}</h1>
            <div class="description">
                You can delete a contact. The contact will be deleted from both of you. It's not a blocking so if one of
                you will communicate, the contacts will be created again and your messages of last 90 days will be shown
                again.
            </div>
        </div>
        <div class="actions_contents">
            <div class="btn cancel pointer grey roboto"  [mat-dialog-close]="''">CANCEL</div>
            <div class="btn delete pointer purple roboto" (click)="confirmDelete()">DELETE</div>
        </div>
    </div>
</div>