<div class="col-lg-12 container-browse no-padding">
    <div class="wrap-browse" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
        <div class="choose-menu-header">
            <div class="choose-menu-header-block1">
                <h2>{{getTranslate("Members.Profile.Edit.LeftMenu.ILikeToThem")}}</h2>
                <span>{{getTranslate("Members.Profile.Edit.LeftMenu.ILikeToThemSubTitle")}}</span>
                <h3>{{getTranslate("Members.Conversations.winks")}}</h3>
            </div>
            <div class="choose-menu-header-block2">
                <div class="input-field-container">
                    <i></i>
                    <input placeholder='{{getTranslate("Members.Profile.GetMyProfileViews.SearchByContacts")}}' [(ngModel)]="searchText" type="text">
                    <div class="clear-input-field">
                        <i [ngClass]="searchText.length>0 ? 'show' : ''"  class="material-icons" (click)="clearText()">clear</i>
                    </div>
                </div>
                <div class="input-field-button-search" (click)="searchContacts()">{{getTranslate("Members.Profile.GetMyProfileViews.SearchByContacts")}}</div>
            </div>
        </div>
        <div class="choose-menu-body">
            <div class="choose-menu-main-container">
                <app-members-item *ngFor="let profile of profiles" [profile]="profile"></app-members-item>
            </div>
        </div>
    </div>
</div>