<app-landing-header (getLanguage)="getLanguage()"></app-landing-header>
<div class="section image wrapper stretch">
    <div class="section image main stretch background-reset-password"></div>
</div>
<div class="section content stretch">
    <div class="content-box">
        <div class="content wrapper">
            <div class="content banner">
                <h1>Login to Lunona</h1>
            </div>
            <div class="content main">
                <div class="forgot-pass">
                    <div class="back-button" (click)="goToBackStep()">
                        <span class="icon-back"></span>
                        <p class="ng-binding"></p>
                    </div>
                    <div *ngIf="resetPassStep == 1" class="step-1">
                        <div class="ng-scope">
                            <div class="image-container">
                                <img src="assets/img-2/login-img/reset-password-icon.png">
                                <div *ngIf="isProfileError" class="alert alert-danger show-error ng-binding ng-hide">
                                    {{profileErrorMessage}}
                                </div>
                            </div>
                            <p class="title ng-binding">
                                Forgot your password?
                            </p>
                            <p class="description ng-binding">
                                Please enter your email address
                                <br>
                                We'll insctuction on how to reset your password
                            </p>
                            <div class="padding">
                                <form name="userEmailForm" [formGroup]="userEmailForm" novalidate>
                                    <mat-form-field class="user-Email">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="userEmail">
                                    </mat-form-field>
                                </form>
                                <div class="next-button">
                                    <button (click)="checkProfile()" class="md-button md-link-ripple">
                                        <span class="ng-scope icon-arrow-right"></span>
                                        <span class="ng-binding ng-scope">
                                            Next
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="resetPassStep == 2" class="step-2">
                        <div class="ng-scope">
                            <div class="image-container">
                                <img src="assets/img-2/login-img/email-sent.png">
                            </div>
                            <p class="title ng-binding">Email Sent</p>
                            <p class="user-email ng-binding">{{userNameOrEmail}}</p>
                            <p class="description ng-binding">
                                Please check your email
                                <br>
                                to see how to reset your password
                            </p>
                            <div class="padding">
                                <div class="next-button">
                                    <button (click)="goToPinStep()" class="md-button md-link-ripple">
                                        <span class="ng-scope icon-arrow-right"></span>
                                        <span class="ng-binding ng-scope">
                                            Next
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="resetPassStep == 3" class="step-3">
                        <div class="ng-scope">
                            <div class="image-container">
                                <img src="assets/img-2/login-img/pin-icon.png">
                            </div>
                            <p class="title ng-binding">
                                Enter Pin Number
                            </p>
                            <p class="description ng-binding">
                                Please enter the Pin Number
                                <br>
                                that you found in your email
                            </p>
                            <div class="padding">
                                <form name="pinForm" [formGroup]="pinForm" novalidate>
                                    <mat-form-field class="user-pin">
                                        <mat-label>PIN NUMBER</mat-label>
                                        <input matInput formControlName="pin">
                                    </mat-form-field>
                                </form>
                                <div class="next-button">
                                    <button (click)="goToNewPassStep()" class="md-button md-link-ripple">
                                        <span class="ng-scope icon-arrow-right"></span>
                                        <span class="ng-binding ng-scope">
                                            Next
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="pin-resend">
                                <label>I don't have Pin Number . Send me again</label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="resetPassStep == 4" class="step-4">
                        <div class="image-container">
                            <img src="assets/img-2/login-img/password-icon.png">
                            <div *ngIf="isSetNewPassError" class="alert alert-danger show-error ng-binding ng-hide">
                                {{setNewPassErrorMessage}}
                            </div>
                        </div>
                        <p class="title ng-binding">Enter Your New Password</p>
                        <p class="description ng-binding">
                            Set a new password to your account
                            <br>
                            The password must be at least 4 characters long.
                        </p>
                        <div class="padding">
                            <form name="newPassForm" [formGroup]="newPassForm" novalidate>
                                <mat-form-field class="new-Pass">
                                    <mat-label>PASSWORD</mat-label>
                                    <input type="password" matInput formControlName="password">
                                </mat-form-field>
                            </form>
                            <div class="next-button">
                                <button (click)="finishResetPass()" class="md-button md-link-ripple">
                                    <span class="ng-scope icon-arrow-right"></span>
                                    <span class="ng-binding ng-scope">
                                        FINISH
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-auth-footer #AuthFooter></app-auth-footer>