<div class="view-container animation">
    <div class="slide view-frame">
        <div class="Bank" id="BankController">
            <div class="charges-container">
                <div class="charges-wrap">
                    <div class="charges-header">
                        <h2>Charges</h2>
                        <p>What is paid, what is free and what are the costs:</p>
                    </div>
                    <div class="charges-main">
                        <div class="step row">
                            <h1>1. The characters that а message contains</h1>
                            <div class="step-inner">
                                <div class="cost">
                                    <span class="text">Cost:</span>
                                    <h2 class="text">
                                        <b>
                                            The cost per each 30 characters is 13 Luns
                                        </b>
                                    </h2>
                                    <img class="image" src="assets/img-2/bank/hi_icon.png">
                                </div>
                                <div class="example">
                                    <h1>For example: </h1>
                                    <p>1 message of 22 characters costs = 13 Luns<br></p>
                                </div>
                            </div>
                        </div>
                        <div class="step row">
                            <h1>2. Auto Translation</h1>
                            <div class="step-inner">
                                <div class="cost">
                                    <span class="text">Cost:</span>
                                    <h2 class="text">
                                        The cost is calculated the same way as the message cost, i.e. 
                                        <b>
                                            13 Luns for 30 characters
                                        </b>
                                    </h2>
                                    <img class="image" src="assets/img-2/bank/auto_translate.png">
                                </div>
                            </div>
                        </div>
                        <div class="step row">
                            <h1>3. Human translation</h1>
                            <div class="step-inner">
                                <div class="cost">
                                    <span class="text">Cost:</span>
                                    <h2 class="text">
                                        <b>
                                            50 Luns per each 100 characters
                                        </b>
                                    </h2>
                                    <img class="image" src="assets/img-2/bank/manual_translate.png">
                                </div>
                                <div class="example">
                                    <h1>For example: </h1>
                                    <p>Even а sent "Hi", will be charged
                                        <b>50 Luns</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="step row">
                            <h1>4. Stickers, GIFS & Gifts </h1>
                            <div class="step-inner">
                                <div class="cost">
                                    <span class="text">Cost:</span>
                                    <h2 class="text">
                                        <b>
                                            Each of them has a price
                                        </b>
                                        so by clicking on the chosen one, you will be charged accordingly.
                                    </h2>
                                    <img class="image" src="assets/img-2/bank/stickers.png">
                                </div>
                            </div>
                        </div>
                        <div class="step row">
                            <h1>5. Send Photos </h1>
                            <div class="step-inner">
                                <div class="cost">
                                    <span class="text">Cost:</span>
                                    <h2 class="text">
                                        <b>
                                            150 Luns
                                        </b>
                                        for each sent photo
                                    </h2>
                                    <img class="image" src="assets/img-2/bank/send_image.png">
                                </div>
                            </div>
                        </div>
                        <div class="step row">
                            <h1>6. Receive Photos</h1>
                            <div class="step-inner">
                                <div class="cost">
                                    <span class="text">Cost:</span>
                                    <h2 class="text">
                                        <b>
                                            150 Luns for each received photo
                                        </b>
                                    </h2>
                                    <img class="image" src="assets/img-2/bank/send_image.png">
                                </div>
                            </div>
                        </div>
                        <div class="step row">
                            <h1>7. Send Videos</h1>
                            <div class="step-inner">
                                <div class="cost">
                                    <span class="text">Cost:</span>
                                    <h2 class="text">
                                        Size-dependent pricing, 
                                        <b>
                                            10 Luns per 100kb with a minimum of 100 Luns
                                        </b>
                                    </h2>
                                    <img class="image" src="assets/img-2/bank/send_video.png">
                                </div>
                            </div>
                        </div>
                        <div class="step row">
                            <h2 style="position: absolute; color: black;">What is free of charge: </h2>
                            <div class="boxes" style="margin-top: 40px;">
                                <div class="item">
                                    <img src="assets/img-2/bank/woman_free.png">
                                    <h1>
                                        <b>
                                            Anything women send <br>
                                            is for free!
                                        </b>
                                    </h1>
                                </div>
                                <div class="item">
                                    <img src="assets/img-2/bank/wink-icon.png">
                                    <h1>
                                        Kisses are for free! <br>
                                    </h1>
                                </div>
                                <div class="item">
                                    <img src="assets/img-2/bank/send_emoji.png">
                                    <h1>
                                        Some of the <br>
                                        <b>Emoticons & Stickers!</b>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>