<div class="set-profile-prompt">
    <div class="main wrapper">
        <div class="top wrapper">
            <div class="top title">
                <span> Set as Cover Photo</span>
            </div>
            <div class="top close">
                <span></span>
            </div>
        </div>
        <div class="content wrapper">
            <p>Set this photo as Cover Photo?</p>
        </div>
        <div class="bottom wrapper">
            <div class="bottom done btn" [mat-dialog-close]="'success'">
                DONE
                <div class="icon"></div>
            </div>
            <div class="bottom cancel btn" [mat-dialog-close]="''">Cancel</div>
        </div>
    </div>
</div>