<div class="col-lg-12 container-browse no-padding">
    <div class="wrap-browse"  infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
        <div *ngIf="isExist" class="choose-menu-header">
            <div class="choose-menu-header-block1">
                <h2>{{getTranslate("Members.Profile.Edit.LeftMenu.Pinned")}}</h2>
                <span>{{getTranslate("Members.Profile.Edit.LeftMenu.PinnedSubTitle")}}</span>
                <h3>{{getTranslate("Members.Profile.Edit.LeftMenu.Pinned")}}</h3>
            </div>
            <div class="choose-menu-header-block2">
                <div class="input-field-container">
                    <i></i>
                    <input placeholder='{{getTranslate("Members.Profile.GetMyProfileViews.SearchByContacts")}}' [(ngModel)]="searchText" type="text">
                    <div class="clear-input-field">
                        <i [ngClass]="searchText.length>0 ? 'show' : ''" class="material-icons"  (click)="clearText()">clear</i>
                    </div>
                </div>
                <div class="input-field-button-search" (click)="searchContacts()">{{getTranslate("Members.Profile.GetMyProfileViews.SearchByContacts")}}</div>
            </div>
        </div>
        <div class="choose-menu-body">
            <div class="choose-menu-main-container">
                <div *ngIf="isExist">
                    <app-members-item *ngFor="let profile of profiles" [profile]="profile"></app-members-item>
                </div>
                <div *ngIf="!isExist" class="empty-category">
                    <div class="empty-list-container">
                        <div class="empty-list-row block-image">
                            <img class="bing-img" src="assets/img-2/profile/they-pinned-man.png">
                        </div>
                        <div class="empty-list-row header-title">
                            <h2>NOT FOUND</h2>
                            <h2>GIRLS WHO PINNED YOU</h2>
                        </div>
                        <div class="empty-list-row body-text">
                            <div class="inner">
                                <p>
                                    This functionality shows the girls who have pinned you. This means that probably you
                                    are new in Lunona's community or you haven't completed your profile or your social
                                    status is low. I suggest you to upload better photos of you and to increase your
                                    wealth, thereby boosting your social status. Rest assured that many more girls will
                                    start pinning you.
                                </p>
                            </div>
                        </div>
                        <div class="empty-list-row navigation">
                            <div class="inner md-ink-ripple">
                                <h2>BROWSE AND PIN GIRLS</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>