.female-section-1 {
    .background-female-1 {
        background-image: url(/assets/img-2/female/page-1-rotation/female1.jpg);
    }

    .section.image.main {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%;
        object-fit: cover;
        object-position: top;
        font-family: "object-fit: cover; object-position: top;";
    }

    .section.image.overlay {
        background-color: rgba(18, 18, 18, 0.4);
    }

    .punch-line {
        text-align: center;
        height: auto;
        top: calc(40% + 46px);
        width: 100%;
        margin: auto;
        position: relative;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);

        img {
            height: 43%;
        }

        .golden-ribbon {
            animation-duration: 1s;
            animation-delay: 0s;
            animation-name: fade-in;
        }

        .golden-ribbon.content {
            position: relative;
            z-index: 1;
            display: -webkit-inline-box;
            background-size: contain;
        }

        .golden-ribbon.content {
            background-image: url(/assets/img-2/male/ribbon-repeat.jpg);
            background-repeat: repeat-x;
            font-size: 0;

            .sparkle.top {
                top: -16px;
                right: -27px;
                animation: sparkle 2.8s infinite;
            }

            .sparkle.bottom {
                bottom: -16px;
                left: -27px;
                animation: sparkle 2.8s infinite;
            }

            .sparkle {
                position: absolute;
                z-index: 1;
                background-image: url(/assets/img-2/shining.png);
                width: 33px;
                height: 33px;
                display: block;
            }
        }

        .golden-ribbon.content::before {
            left: 0;
            transform: translateX(-99%);
            -webkit-transform: translateX(-99%);
        }

        .golden-ribbon.content::before,
        .golden-ribbon.content::after {
            content: "";
            width: 3.2vmin;
            height: 5.7vmin;
            background-repeat: no-repeat;
        }

        .golden-ribbon.content::before,
        .golden-ribbon.content::after {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            background-size: auto 100%;
            z-index: 0;
        }

        .golden-ribbon.content::before {
            background-image: url(/assets/img-2/male/left-ribbon.png);
            background-position: right;
            float: left;
        }

        .golden-ribbon.content::after {
            right: 0;
            transform: translateX(99%);
            -webkit-transform: translateX(99%);
        }

        .golden-ribbon.content::after {
            background-image: url(/assets/img-2/male/right-ribbon.png);
            background-position: left;
            float: right;
        }

        .golden-ribbon.text {
            position: relative;
            color: #534818;
            font-weight: 400;
            text-shadow: none;
            line-height: 1.1em;
            display: block;

            h4 {
                display: inline;
                position: relative;
                color: #534818;
                font-weight: 400;
                text-shadow: none;
                line-height: 1.1em;
                padding: 0.5em 0px;
                display: block;
                font-size: 18px;
                z-index: 2;
                letter-spacing: 0;
                margin: 0;
            }

            b {
                font-weight: 800;
            }
        }
    }

    .punch-line {
        animation-duration: 1s, 1.2s;
        animation-delay: 0s, 0s;
        animation-name: fade-in, page-1-change-height;
    }
}

:host ::ng-deep h1 {
    padding-right: 4%;
    padding-left: 20px;
    text-shadow: 0 0 10px #160621;
    font-weight: 600;
    letter-spacing: 0;
    color: #fff;
    margin: 0;
}

:host ::ng-deep h1 {
    margin-top: 0.5vmin;
    margin-bottom: 1.6vmin;
    font-size: 8vmin;
    line-height: 8vmin;
}

:host ::ng-deep h3 {
    padding-right: 5%;
    padding-left: 5%;
    font-weight: 500;
    line-height: 1.1;
    font-size: 3.88vmin;
    text-shadow: 0 0 10px #160621;
    letter-spacing: 0;
    color: #fff;
    margin: 0;
}

:host ::ng-deep h3 {
    margin-bottom: 2.4vmin;
}
