<app-landing-header></app-landing-header>
<div class="female-section-9 wrapper stretch">
    <div class="section image wrapper stretch">
    </div>
    <div class="section content stretch">
        <div class="top-ribbon">
            <h3 class="uppercase">
                Stay connected with <b>lunona app</b>
            </h3>
        </div>
        <div class="free-download">
            <h2 class="uppercase"><strong>DOWNLOAD NOW</strong> THE APP!</h2>
            <div class="section-9-social-nav clearfix">
                <a class="android-button play store" href="//play.google.com/store/apps/details?id=com.lunona.android"
                    title="Lunona dating - Apps on Google Play"></a>

                <a class="amazon-button amazon-store"
                    href="https://www.amazon.com/Gloobotec-LLC-Lunona-Dating/dp/B07D2XR13V/ref=sr_1_2?s=mobile-apps&ie=UTF8&qid=1526665564&sr=1-2&keywords=lunona"
                    title="Amazon.com: Lunona Dating: Appstore for Android"></a>
            </div>
            <p><strong>WORKS</strong> ALSO WITHOUT APPLICATION <br> Lunona runs on all devices! Just open it via your
                mobile internet.</p>
            <div class="section-9-social-nav clearfix">
                <a href="app-download.html" class="ios-button ios-store"> </a>
                <a href="/pages/us" class="windows-button windows-store"> </a>
            </div>
            <div class="roadmap">
                <p cms-translate><a href="https://www.lunona.com/pages/us/application-map/">* View the Application Road
                        Map</a></p>
            </div>

        </div>
        <div class="slideshow_container">
            <div class="slideshow stretch">
                <div class="inner_slideshow_aligner">
                    <img src="assets/img-2/male/mobile.png" />
                    <div class="slide-wrapper">
                        <div class="fixed-slide"></div>
                        <div class="moving-slide"></div>
                    </div>
                </div>
            </div>
        </div>
        <img class="mobile left" src="assets/img-2/male/left-mobiles.png" />
        <img class="mobile right" src="assets/img-2/male/right-mobiles.png" />
    </div>
</div>
<app-static-footer></app-static-footer>