.main.wrapper.lookingFor {
    width: 470px;
    height: 370px;
    border-radius: 4px;
    box-shadow: 0px 9px 133px 0px rgba(35, 32, 38, 0.32);
    border: 1px solid #7d7c7c;
    transition: 0.5s;
    transform-origin: center center;
    z-index: 10;
    position: fixed;
    left: 380px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background: #f1f1f1;

    .top.wrapper {
        background-color: white;
        height: 56px;
        position: relative;
        z-index: 1;
        transition: box-shadow 0.25s;

        .top.icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 56px;
            height: 56px;

            span {
                width: 32px;
                height: 23px;
                position: absolute;
                top: 17px;
                left: 18px;
            }
        }

        .top.title {
            left: 20px;
            position: absolute;
            top: 17px;
            font-size: 18px;
            color: #808080;
        }

        .top.close {
            position: absolute;
            top: 9px;
            right: 13px;
            width: 35px;
            height: 34px;
            background-color: #efefef;
            border-radius: 50%;
            cursor: pointer;
            border: 1px solid #cfcfcf;
            transition: background-color 0.25s;

            span {
                background: url(/assets/img-2/profile/close.png) no-repeat;
                width: 13px;
                height: 13px;
                display: block;
                top: 10px;
                left: 10px;
                position: relative;
            }
        }

        .top.close:hover {
            background-color: #e81123;

            span {
                background: url(/assets/img-2/profile/close-w.png);
            }
        }
    }

    .content.wrapper {
        height: 243px;
        background-color: white;
        overflow: auto;
        padding: 0 12px;
        position: relative;
        border: 1px solid #cfcfcf;

        p {
            text-align: center;
            color: #374149;
            font-size: 20px;
            font-weight: 500;
            margin-top: 16px;
        }

        label {
            display: block;
            width: 113px;
            margin: 0 auto;

            input {
                position: absolute;
                opacity: 0;
                width: inherit;
                height: 30px;
                box-sizing: border-box;
                padding: 0;
            }

            input[type="checkbox"].green.ios-switch:checked + div {
                background-color: #609c2d;
                border: 1px solid rgba(0, 162, 63, 1);
                box-shadow: inset 0 0 0 10px #609c2d;
            }

            input[type="checkbox"].bigswitch.ios-switch + div {
                width: 100px;
                height: 30px;
            }

            input[type="checkbox"].ios-switch + div {
                box-sizing: content-box;
                vertical-align: middle;
                border-radius: 999px;
            }

            input[type="checkbox"].green.ios-switch:checked + div > div {
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63, 1);
            }

            input[type="checkbox"].bigswitch.ios-switch + div > div {
                width: 28px;
                height: 28px;
                margin-top: 1px;
            }

            input[type="checkbox"].ios-switch:checked + div > div {
                background-color: #ffffff;
                float: right;
            }

            input[type="checkbox"].ios-switch + div > div {
                float: left;
                width: 18px;
                height: 18px;
                border-radius: inherit;
                background: #ffffff;
                -webkit-transition-timing-function: cubic-bezier(0.54, 1.4, 0.5, 1);
                -webkit-transition-duration: 0.4s;
                -webkit-transition-property: transform, background-color, box-shadow;
                -moz-transition-timing-function: cubic-bezier(0.54, 1.4, 0.5, 1);
                -moz-transition-duration: 0.4s;
                -moz-transition-property: transform, background-color;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
                pointer-events: none;
                margin-left: 1px;
            }

            input[type="checkbox"].ios-switch + div {
                box-sizing: content-box;
                vertical-align: middle;
                width: 40px;
                height: 20px;
                border: 1px solid #d34032;
                border-radius: 999px;
                background-color: rgb(226, 85, 85);
                -webkit-transition-duration: 0.4s;
                -webkit-transition-property: background-color, box-shadow;
                box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.4);
            }
        }

        .text {
            font-size: 21px;
            font-weight: 600;
            color: black;
            display: block;
            margin-top: 20px;
            text-align: center;
        }

        h2 {
            text-shadow: none;
            text-align: center;
            color: #374149;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
}

.bottom.wrapper {
    background-color: white;
    height: 69px;
    padding-top: 13px;
    padding-right: 13px;
    position: relative;
    transition: box-shadow 0.25s;

    .bottom.btn {
        width: auto;
        height: 44px;
        border-radius: 3px;
        text-align: center;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 500;
        float: right;
        line-height: 4px;
        margin-left: 4px;
        cursor: pointer;
        box-shadow: 0px 2px 2px 0px rgba(35, 35, 31, 0.09);
        transition: background-color 0.25s;
        padding-top: 21px;
        padding-right: 44px;
        padding-left: 43px;

        .icon {
            position: absolute;
            right: 23px;
            top: 13px;
            background-image: url(/assets/img-2/profile/check-icon.png);
            background-repeat: no-repeat;
            width: 19px;
            height: 14px;
        }
    }

    .bottom.done.btn {
        background-color: #572679;
        color: #ffffff;
        position: relative;
        text-indent: -10px;
    }

    .bottom.done.btn:hover {
        background-color: #8542b3;
    }

    .bottom.cancel.btn {
        background-color: rgba(208, 208, 228, 0.8);
        color: #646277;
    }

    .bottom.cancel.btn:hover {
        background-color: #babad2;
    }
}
