<div class="left-menu-outer ng-scope open-menu">
    <div class="animate-switch-container-left-menu">
        <div class="animate-switch-left-menu">
            <div class="user-browse-menu-main">
                <div class="no-margin no-padding">
                    <div class="left-menu-list">
                        <mat-list>
                            <div>
                                <mat-list-item class="left-menu-item md-button-wrap ng-scope md" (click)="goBrowseDashboard()" [ngClass]="sideNumber == 1 ? 'on' : 'off'">
                                    <div class="dashboard-icon side-icon"></div>
                                    <p class="mat-list-text">Dashboard</p>
                                    <ng-container>
                                        <mat-icon matListIcon class="right-arrow">chevron_right</mat-icon>
                                    </ng-container>
                                </mat-list-item>
                            </div>
                            <mat-divider></mat-divider>
                            <div  *ngFor="let browseMenu of browseMenuData; let i=index;">
                                <mat-list-item class="left-menu-item md-button-wrap ng-scope md" (click)="goToBrowsePage(browseMenu, i)" [ngClass]="sideNumber == i+2 ? 'on' : 'off'">
                                    <div class="side-icon" [ngClass]="browseMenu.Command"></div>
                                    <p class="mat-list-text">{{browseMenu.Title}}</p>
                                    <ng-container>
                                        <mat-icon matListIcon class="right-arrow">chevron_right</mat-icon>
                                    </ng-container>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </div>
                        </mat-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="left: 383px; position: absolute; top: 60px; right: 0; bottom: 30px; height: auto;">
    <router-outlet></router-outlet>
</div>