<div class="meessagesForNothing">
    <div class="onunread">
        <svg xmlns="http://www.w3.org/2000/svg" width="150.63" height="164.76" viewBox="0 0 150.63 164.76">
                    <defs>
                        <filter id="a" width="102.93" height="59.17" x="19.3" y="105.59" filterUnits="userSpaceOnUse">
                            <feOffset dy="7"/>
                            <feGaussianBlur result="b" stdDeviation="5"/>
                            <feFlood flood-opacity=".16"/>
                            <feComposite in2="b" operator="in"/>
                            <feComposite in="SourceGraphic"/>
                        </filter>
                        <filter id="c" width="47.86" height="37.57" x="102.77" y="34.32" filterUnits="userSpaceOnUse">
                            <feOffset dy="3"/>
                            <feGaussianBlur result="d" stdDeviation="3"/>
                            <feFlood flood-opacity=".22"/>
                            <feComposite in2="d" operator="in"/>
                            <feComposite in="SourceGraphic"/>
                        </filter>
                        <filter id="e" width="53.87" height="42.95" x="0" y="12.29" filterUnits="userSpaceOnUse">
                            <feOffset dy="3"/>
                            <feGaussianBlur result="f" stdDeviation="3"/>
                            <feFlood flood-color="#363bb4" flood-opacity=".24"/>
                            <feComposite in2="f" operator="in"/>
                            <feComposite in="SourceGraphic"/>
                        </filter>
                    </defs>
                    <g transform="translate(-112.38 -234.05)">
                        <ellipse cx="41.63" cy="41.63" fill="#dfe0e2" opacity=".54" rx="41.63" ry="41.63" transform="translate(143.52 302.75)"/>
                        <path fill="#59257c" d="M156.4 322.12l-9.72 25.52h19.44a17.02 17.02 0 0 0 34.04 0h19.45l-9.73-25.52zm0 0" opacity=".59"/>
                        <path d="M44.46 193.52a17.02 17.02 0 0 1-17.01-17.02H8v29.17h72.93V176.5H61.48a17.02 17.02 0 0 1-17.02 17.02zm-24.3 7.29" class="c" filter="url(#a)" transform="translate(138.67 171.14)"/>
                        <path d="M220.74 347.21l-9.72-25.52a1.22 1.22 0 0 0-1.14-.79H156.4a1.22 1.22 0 0 0-1.14.79l-9.72 25.52a1.23 1.23 0 0 0-.07.39v29.21a1.22 1.22 0 0 0 1.2 1.22h72.94a1.22 1.22 0 0 0 1.21-1.22v-29.17-.04a1.23 1.23 0 0 0-.08-.39zm-63.5-23.88h51.8l8.8 23.1h-17.68a1.22 1.22 0 0 0-1.22 1.21 15.8 15.8 0 0 1-31.6 0 1.22 1.22 0 0 0-1.21-1.21h-17.69zm61.15 52.27h-70.5v-26.74h17.06a18.23 18.23 0 0 0 36.38 0h17.06zm0 0" class="d"/>
                        <path d="M153.97 370.74h-1.21v-3.65a1.22 1.22 0 0 0-2.43 0v4.86a1.22 1.22 0 0 0 1.21 1.22h2.43a1.22 1.22 0 1 0 0-2.43zm0 0M161.26 370.74h-2.43a1.22 1.22 0 1 0 0 2.43h2.43a1.22 1.22 0 1 0 0-2.43zm0 0" class="d"/>
                        <g>
                            <g opacity=".31">
                                <path d="M250.34 294.2l-26.22-10.08 6.72-17.48 15.32-.7 10.9 10.78z" class="f"/>
                                <path fill="#535252" d="M257.8 266.97l-7.17 18.64-20.97-8.07 5.68-14.76 3.87 1.48 1.48-3.86z"/>
                                <path d="M230.84 266.64l-6.72 17.48 14.67-2.38zM257.06 276.72l-6.72 17.48-9.28-11.6z" class="h"/>
                                <path d="M16.4 0h-4.72L0 10.19h28.07z" class="i" filter="url(#c)" transform="rotate(20.89 -630.29 755.1) scale(.998)"/>
                                <path d="M240.7 260.4l-1.5 3.86-3.86-1.48z" class="c"/>
                                <path d="M249.97 269.85a3.51 3.51 0 0 0-4.63-1.78 3.51 3.51 0 0 0-6.41 2.85l2.85 6.41 6.41-2.85a3.51 3.51 0 0 0 1.78-4.63z" class="h"/>
                            </g>
                            <path d="M236.37 311.83l3.52-8.57M223.27 306.05l3.52-8.57M230.69 303.35l2.03-4.47" class="j"/>
                        </g>
                        <g>
                            <g opacity=".46">
                                <path d="M157.45 263.6l-30.89 13.77-9.17-20.59 12.43-13.63 18.45-.13z" class="f"/>
                                <path fill="#606060" d="M140.6 234.1l9.78 21.95-24.71 11.01-7.75-17.39 4.55-2.03-2.03-4.56z"/>
                                <path d="M117.39 256.78l9.17 20.6L137 262.84zM148.27 243.02l9.18 20.59-17.77-1.95z" class="h"/>
                                <path d="M19.74 0h-5.68L0 12.27h33.8z" class="i" filter="url(#e)" transform="matrix(.914 -.402 .402 .914 121.4 266.14)"/>
                                <path fill="#989898" d="M120.44 243.08l2.03 4.56-4.55 2.03z"/>
                                <path d="M136.39 243.2a4.23 4.23 0 0 0-5.46 2.44 4.23 4.23 0 1 0-3.03 7.9l7.9 3.02 3.02-7.9a4.23 4.23 0 0 0-2.43-5.45z" class="h"/>
                            </g>
                            <g opacity=".64">
                                <path fill="none" stroke="#231f20" stroke-linecap="round" stroke-width="1.00052" d="M157.39 281.62l-5-9.12" opacity=".22"/>
                                <path d="M150.75 288.16l-5-9.12M138.88 286.76l-2.46-4.93" class="p"/>
                            </g>
                        </g>
                    </g>
                </svg>

        <div class="text">You have no Unread message</div>
    </div>
</div>